.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 0 20px;
  background-color: orange;
  height: 40px;
  border: 2px solid black;
}

.buy-sale-button {
  cursor: pointer;
  width: 90px;
  height: 40px;
  align-items: center;
}

.button-wrapper {
  margin-top: 10px;
}
.second-select {
  margin-top: 0;
  margin-right: 15px;
  width: 80px;
}
.first-select {
  margin-right: 15px;
  margin-bottom: 25px;
  width: 80px;
}

.main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  background-color: #53687d;
  width: 600px;
  height: 300px;
  border: 2px solid black;
  border-radius: 5%;
}

h1 {
  font-size: 32px;
  margin-bottom: 0;
}
.main-block {
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

li {
  list-style: none;
}
